*{
    padding: 0;
    margin: 0;
}

img{
    height: 400px;
    width: 400px;
}

h1{
    text-align: center;
    border: 1px solid black;
    width: 20%;
    margin: 2% auto;
    padding: 1%;
    border-radius: 15px;
}

img{
    padding: 1% 0 0 4%;
}

img:nth-of-type(1):hover{
    filter:blur(10px)
}

img:nth-of-type(2):hover{
    filter:sepia(1);
}

img:nth-of-type(3):hover{
    filter:grayscale(1);
}

/* img:nth-of-type(2){
    padding-left: 5%;
} */